
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter;
    font-style: normal;
}


.container {
    max-width: 1420px; 
    width: 100%;
    margin: 0 auto; 
    padding: 0 10px; 
}

.header__content ul {
    text-align: center;
    padding: 32px 0px;
}

.header__content li {
    display: inline;
    margin-right: 72px;        
}

.header__content a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
    font-weight: 400;
    line-height: 135%;    
}

.main-banner {
    object-fit: contain;
    height: 100%;
    margin-bottom: 88px;
}

.main-content {
    min-height: 552px;
    height: 100%;
    width: 856px;
    margin: 0 auto;
}

.main-content__header {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 40px;
}

.main-content__article {
    color: #161616;
    font-size: 21px;
    font-weight: 500;
    line-height: 150%;
    padding-bottom: 24px;
}

.main-content__article span {
    color: #04959E;
    font-weight: 600;
}

.main-content__list {
    color: #161616;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    padding-left: 20px;
    margin-bottom: 40px;
}

.button {
    display: block; 
    max-width: 100%;
    width: max-content;
    background-color: #04959E;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
    text-decoration: none; 
    padding: 10px 24px;
    margin: 0 auto;
    margin-bottom: 88px;
}

.footer-content {
    border-top: 1px solid #161616;
    color: #161616;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
    padding: 16px 0px;

}
